*{
    font-family:Roboto;
    letter-spacing: 0.1em;

}
body{
    background-color: rgba(140, 196, 97, 1);
    padding: 4vh 0 ;
    
}
/* -------------------------------------------------------------HEADER SECTION-----------------------------------------------------------------------------W */
.banner{
    border: 2px solid rgba(255, 255, 255, 1);
    color:rgba(255, 255, 255, 1);
    padding: 1vh 1vw;
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 20vw;
 
}
.left_section{
    font-family: Roboto;
    font-size: 40px;
    font-weight: 600;
    line-height: 46.88px;
    letter-spacing: 0.1em;
    text-align: left;

}
.right_section{
    display: flex;
    gap: 1vw;

}
.computer_score,.your_score{
    text-align: center;
    color: rgba(101, 101, 101, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 9px;
    width: 100px;
    font-size: 17px;
    font-weight: 600;
    line-height: 19.92px;
    letter-spacing: 0.1em;
    padding: 1vh 1.3vw;

}
.right_section span{
    color: rgba(37, 37, 37, 1);   
    font-size: 68px;
    font-weight: 700;
    line-height: 79.69px;
    text-align: center;

}
/* ----------------------------------------------------------------------RULE SECTION----------------------------------------------------------------------------------------------- */
.next{
    visibility: hidden;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: rgba(140, 196, 97, 1); 
    font-family: Roboto;
    font-size: 21px;
    font-weight: 600;
    line-height: 24.61px;
    text-align: center;
    border-radius: 10px;
    padding: 0.8vh 2vw;
    position: absolute;
    bottom: 2rem;
    
    
}
.pop-up{

    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: rgba(140, 196, 97, 1); 
    font-family: Roboto;
    font-size: 21px;
    font-weight: 600;
    line-height: 24.61px;
    text-align: center;
    border-radius: 10px;
    padding: 0.8vh 1.5vw;
    position: absolute;
    bottom: 2rem;
    right: 2rem;

}
.Rules{
    visibility: hidden;
    border-radius: 13px;
    background-color:  rgba(0, 68, 41, 1);
    border: 7px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: 29px;
    font-weight: 500;
    line-height: 33.98px;
    text-align: left;
    width: 16.5vw;
    height: 40vh;
    padding:3vh 1vw 1vh 0 ;
    position: absolute;
    right: 3rem;
    bottom: 6rem;
  

}
.Rules p{
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}
.Rules li{
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.23px;
    text-align: left;
    margin-top: 2vh;
    
}
ul{
    list-style-type: square;
    margin-top: 0;
    
}
li::marker{
    color: rgba(255, 214, 0, 1);
}
.minimize{

    position: absolute;
    top: -5vh;
    right: -2vw;
    padding: 0;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 0, 0, 1);
    border: 5px solid rgba(255, 255, 255, 1);
    height: 60px;
    width:60px;
    border-radius: 100%;
    cursor: pointer;
}
.minimize span{
    margin: 0 ;
    vertical-align: middle;
    font-family: Dangrek;
    font-size: 44px;
    font-weight: 400;
    line-height: 5px;
}
/* ----------------------------------------------------------------------TURN SECTION------------------------------------------------------------ */
.triangle-section{
  
    display: flex;
    flex-direction: column;
    margin: 10vh 35vw 0 35vw;
    text-align: center;
    align-items: center;
    transition: ease-in-out;
    transition-duration: 1s;
    transition-delay: 0.5s;
}
.turn{
    cursor: pointer;
    width: 150px;
    height: 150px; 
    gap: 0px;
    border: 16px 0px 0px 0px;
    opacity: 0px;
    box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.35);
    border: 16px solid rgba(0, 116, 182, 1);
    border-radius: 100%;

}
.first-line{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paper{
   border-color: rgba(255, 169, 67, 1);
}
.scissors{
    border-color: rgba(189, 0, 255, 1);
}
.line{
    background-color: rgba(0, 0, 0, 0.64);
    height: 16px;
    width:8vw;
    z-index: -1;
   }
.second-line{
    width:27vw;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 5vh 1vw 0 1vw;
}

.diagonal {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.64);
    height: 16px;
    width:12vw;
    z-index: -1;
}
.a{
    margin-left: 2vw;
    transform: rotate(60deg);
  }

.b{
    transform: rotate(-60deg);
    margin-right: 2vw;
}
.third-line{
    margin-top: 3vh;
    text-align: center;
}

/* ---------------------------------------------------------------RESULT SECTION ------------------------------------------------------------ */
.results{
    margin-top: 10vh;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    max-width: 900px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 1);
}
.results_heading{
    font-size: 17px;
    font-weight: 600;
    padding: 4rem 0 4rem;
    text-align:center;
    padding-bottom: 5vh;
}
.pc{
    grid-column-start: 3;
    grid-column-end: 4;
}
.you{
    
    grid-column-start: 1;
    grid-column-end: 2;
}
.player,.computer{
   text-align: center;
    min-width: 8rem;
    min-height:8rem ;
    border-radius: 50%;
}

.hidden{
    display: none;
    transition: ease-in-out;
    transition-duration: 1s;
    transition-delay: 0.5s;
}
.winner{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.against{
    font-family: Roboto;
    font-size: 25px;
    font-weight: 800;
    line-height: 29.3px;
    text-align: center;
    
}
.play-again{

    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 17.58px;
    padding: 1em 3em;
    color: rgba(107, 107, 107, 1);
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 9px;
    cursor: pointer;
}
.result_text{
    font-family: Roboto;
    font-size: 39px;
    font-weight: 800;
    line-height: 45.7px;
    text-align: center;
    margin: 0;
}
/* ---------------------------------------winner result page--------------------------------------------- */
.winner_result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vh auto 0;
}
.star{
  position: absolute;
  top: 10vh;

}
.trophy{
 position: absolute;
 top:25vh;
 right:43%;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Roboto;
  margin-top: 5vh;
  margin-left: 2vw;
}
.container h1{
  
  font-family: Roboto;
  font-size: 91px;
  font-weight: 600;
  line-height: 106.64px;
  text-align: center;
  margin: 0.5vh 0;

}
.container h2{
  font-family: Roboto;
  font-size: 41px;
  font-weight: 600;
  line-height: 48.05px;
  text-align: center;
  margin: 0.5vh 0;

}
.reset{
margin-top: 5vh;
text-align: center;
font-family: Roboto;
font-size: 15px;
font-weight: 600;
line-height: 17.58px;
padding: 1em 3em;
color: rgba(107, 107, 107, 1);
background-color: rgba(255, 255, 255, 1);
border: none;
border-radius: 9px;
cursor: pointer;
}
.hidden{
    display: none;
}
